@charset "UTF-8";
@import url(animate.min.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.svg?m63k59#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-images:before {
  content: ""; }

.icon-file-empty:before {
  content: ""; }

.icon-files-empty:before {
  content: ""; }

.icon-file-text2:before {
  content: ""; }

.icon-file-picture:before {
  content: ""; }

.icon-file-music:before {
  content: ""; }

.icon-file-video:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-folder-plus:before {
  content: ""; }

.icon-folder-upload:before {
  content: ""; }

.icon-price-tags:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-spinner2:before {
  content: ""; }

.icon-spinner8:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-pie-chart:before {
  content: ""; }

.icon-stats-dots:before {
  content: ""; }

.icon-bin:before {
  content: ""; }

.icon-bin2:before {
  content: ""; }

.icon-switch:before {
  content: ""; }

.icon-point-up:before {
  content: ""; }

.icon-cross:before {
  content: ""; }

.icon-checkmark:before {
  content: ""; }

.icon-loop2:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.vertical-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.btn > [class*=" icon-"],
.btn > [class^="icon-"] {
  padding-right: 5px; }

.label > [class*=" icon-"],
.label > [class^="icon-"] {
  padding-right: 5px; }

@-webkit-keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinner {
  display: inline-block;
  height: 1em;
  line-height: 1;
  margin: .5em;
  -webkit-animation: anim-rotate 2s infinite linear;
  animation: anim-rotate 2s infinite linear;
  color: #333;
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.3); }

.spinner--steps {
  -webkit-animation: anim-rotate 1s infinite steps(8);
  animation: anim-rotate 1s infinite steps(8); }

.spinner--steps2 {
  -webkit-animation: anim-rotate 1s infinite steps(12);
  animation: anim-rotate 1s infinite steps(12); }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.modal.media-modal.modal-mask {
  display: inherit; }

.modal-container {
  width: auto;
  margin: 3em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.modal-lg {
  margin: 2em !important;
  width: auto !important; }

.modal-header h4 {
  margin-top: 0; }

.modal-body {
  margin: 20px 0;
  max-height: calc(100vh - 265px);
  overflow-y: auto; }

.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* always present */
.expand-transition {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden; }

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0; }

#easel-file-picker .modal-footer.vertical-center .item-count {
  -webkit-box-flex: 1;
  flex: 1 0 0;
  text-align: left; }

#easel-file-picker .modal-footer.vertical-center .buttons {
  -webkit-box-flex: 4;
  flex: 4 0 0; }

#easel-file-picker .easel-file-browser {
  color: #5e5e5e;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 200px;
  padding: 1rem;
  width: auto; }
  #easel-file-picker .easel-file-browser .breadcrumb {
    background-color: transparent;
    border-bottom: 1px solid #f0f0f0; }
    #easel-file-picker .easel-file-browser .breadcrumb li a {
      color: #a9a9a9; }
      #easel-file-picker .easel-file-browser .breadcrumb li a.active {
        color: #7c7c7c; }
    #easel-file-picker .easel-file-browser .breadcrumb li + li::before {
      color: #ccc;
      content: "/ ";
      padding: 0 5px; }
  #easel-file-picker .easel-file-browser.modal-dialog {
    margin-top: 2rem; }
  #easel-file-picker .easel-file-browser .word-wrappable {
    word-wrap: break-word; }
  #easel-file-picker .easel-file-browser .easel-file-picker-list {
    height: 60vh;
    overflow-y: scroll; }
    #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr.active td {
      background-color: #0078e7;
      color: #fff; }
      #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr.active td a {
        color: #fff; }
    #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr:last-child td {
      padding-bottom: 7px; }
    #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr td {
      -webkit-transition: background-color 0.15s ease-in-out 0.05s;
      transition: background-color 0.15s ease-in-out 0.05s;
      padding-left: 7px;
      border-top: 1px solid #f0f0f0; }
      #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr td a {
        margin-left: 0.5em;
        cursor: pointer; }
    #easel-file-picker .easel-file-browser .easel-file-picker-list .table tbody tr th:first-child {
      padding-left: 7px; }
  #easel-file-picker .easel-file-browser .easel-file-picker-sidebar {
    height: 60vh;
    overflow-y: auto;
    border-left: 1px solid #f0f0f0; }
  #easel-file-picker .easel-file-browser .easel-file-picker-preview-table {
    margin-top: 1em; }
    #easel-file-picker .easel-file-browser .easel-file-picker-preview-table td {
      border-width: 0; }
      #easel-file-picker .easel-file-browser .easel-file-picker-preview-table td.description {
        text-transform: uppercase;
        font-weight: 500; }
      #easel-file-picker .easel-file-browser .easel-file-picker-preview-table td.file-value {
        word-break: break-all; }

.modal-errors ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }
  .modal-errors ul li {
    color: #f6675d; }

.alert {
  padding-left: 30px;
  font-size: 13px; }

.alert span {
  cursor: pointer; }

.alert:not(.alert-dismissible) {
  padding-right: 30px; }

.alert.alert-dismissable {
  padding-right: 44px; }

.alert-inverse {
  background-color: #333333;
  border-color: transparent;
  color: #ffffff; }

.alert-inverse hr {
  border-top-color: transparent; }

.alert-inverse .alert-link {
  color: #e6e6e6; }

.growl-animated.alert-inverse {
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.5); }

.growl-animated.alert-info {
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); }

.growl-animated.alert-success {
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); }

.growl-animated.alert-warning {
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5); }

.growl-animated.alert-danger {
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.5); }

/*# sourceMappingURL=media-manager.css.map */
