$icomoon-font-path: "../fonts" !default;

$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-file-text2: "\e926";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-video: "\e92a";
$icon-folder: "\e92f";
$icon-folder-plus: "\e931";
$icon-folder-upload: "\e934";
$icon-price-tags: "\e936";
$icon-upload: "\e961";
$icon-spinner2: "\e97b";
$icon-spinner8: "\e981";
$icon-cog: "\e994";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-switch: "\e9b6";
$icon-point-up: "\ea03";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-loop2: "\ea2e";
$icon-arrow-right: "\ea34";

