$icomoon-font-path: "../fonts" !default;
$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-file-picture: "\e927";
$icon-folder: "\e92f";
$icon-folder-plus: "\e931";
$icon-upload: "\e961";
$icon-spinner2: "\e97b";
$icon-spinner8: "\e981";
$icon-cogs: "\e995";
$icon-bin: "\e9ac";
$icon-loop2: "\ea2e";
$icon-arrow-right: "\ea34";
