@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g9qomx');
  src:  url('../fonts/icomoon.eot?g9qomx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g9qomx') format('truetype'),
    url('../fonts/icomoon.woff?g9qomx') format('woff'),
    url('../fonts/icomoon.svg?g9qomx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-upload:before {
  content: "\e961";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-arrow-right:before {
  content: "\ea34";
}

